// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #3C6BEC;
$background-color:  #EC6B3C;
$background-color:  #3CEC6B;
$background-color:  #EC3C6B;
$background-color:  #D21549;

$full-color:  rgba(255, 255, 255, 1);
$light-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-inside styles
// ----------------------------------------------------------------------------
.widget-inside {

  background-color: $background-color;

  .title {
    color: $light-color;
  }

  .temp {
    color: $full-color;
  }

  .summary {
    color: $light-color;
  }

  .more-info {
      color: $light-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}
