<script type='text/javascript'>
 $(function() {
    Dashing.numColumns = 4
 });
 </script>

<% content_for :title do %>Francis st. Energy<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="inside" data-view="Inside" data-title="Inside"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="generating" data-view="Solar" data-title="Generating" data-suffix="kW" data-cool="0.3" data-warm="2.8"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="consuming" data-view="Consume" data-title="Consuming" data-suffix="kW" data-cool="0.8" data-warm="5.0"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="griddemand" data-view="Consume" data-title="Metering" data-suffix="kW" data-cool="0" data-warm="0"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outside" data-view="Outside" data-title="Outside"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="masterbed" data-view="Inside" data-title="Master Bedroom"></div>
    </li>

  </ul>
</div>
