<script type='text/javascript'>
 $(function() {
    Dashing.numColumns = 5
    Dashing.widget_base_dimensions = [195, 225]
    Dashing.widget_margins = [3, 3]
 });
 </script>

<% content_for :title do %>Francis st. Energy<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="masterbed" data-view="Temp" data-title="Inside" style="padding: 0px; background-color: #550033;"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="outside" data-view="Temp" data-title="Outside" style="padding: 0px; background-color: #330055;"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="outside" data-view="Temp" data-title="Outside" style="padding: 0px; background-color: #330055;"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="outside" data-view="Temp" data-title="Outside" style="padding: 0px; background-color: #330055;"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="outside" data-view="Temp" data-title="Outside" style="padding: 0px; background-color: #330055;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="5" data-sizey="2">
      <div data-id="segment_clock" data-view="SegmentClock" style="padding: 0px;"></div>
    </li>

  </ul>
</div>
