<script type='text/javascript'>
 $(function() {
    Dashing.numColumns = 10
    Dashing.widget_base_dimensions = [94, 225]
    Dashing.widget_margins = [3, 3]
 });
 </script>

<% content_for :title do %>Francis st. Energy<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="masterbed" data-view="Temp" data-title="Inside" style="padding: 0px; background-color: #550033;"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="outside" data-view="Temp" data-title="Outside" style="padding: 0px; background-color: #330055;"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="3" data-sizey="1">
      <div data-id="masterbed" data-view="Forecast" data-title="Today" style="padding: 0px; background-color: #113355;"></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="3" data-sizey="1">
      <div data-id="outside" data-view="Forecast" data-title="Tomorrow" style="padding: 0px; background-color: #333355;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="10" data-sizey="2">
      <div data-id="segment_clock" data-view="SegmentClock" style="padding: 0px;"></div>
    </li>

  </ul>
</div>
